                <li class="sidebar-brand">
                    <a href="index.html">
                        Home
                    </a>
                </li>
                <li>
                    <a href="plot.html">Plot</a>
                </li>
                <li>
                    <a href="ip.html">Intellectual Property</a>
                </li>
                <li>
                    <a href="security.html">Security</a>
                </li>
                <li>
                    <a href="privacy.html">Privacy</a>
                </li>
                <li>
                    <a href="automation.html">Wealth</a>
                </li>
                <li>
                    <a href="communication.html">Communication</a>
                </li>
                <li>
                    <a href="intent.html">Intent</a>
                </li>
                <li>
                    <a href="technology.html">Technology</a>
                </li>
                <li>
                    <a href="conclusion.html">Conclusions</a>
                </li>